
{% extends "layout.html" %}
{% block content %}

                    <div class="jumbotron">

                        <h4>
                            matara - construir ambiente de trabalho para pesquisadores(medicos) para 
                            escolha de metodos ideais para identificacao(zihui) de osteoporose.
                            ambiente de trabalho se baseia em diferentes metodos de machine learning, 
                            incluindo metodos de classificacao, e atividades de processamento de imagem.
                            <br><br><br>
                            ambiente de trabalho - inclui GUI(possivelmente web) e API em python.
                            <br><br><br>
                            metodos de machine learning - 
                            <br><br><br>
                            drishot techniot - 
                            ele quer: maarechet
                            INPUT: fotos digitais de sistema PAX?, com informacoes medicas(pasta) dos pacientes,
                            da perna inteira. Depois tem etapas de identificar regioes de interesse(2, 3).
                            Depois fazer o processamento da imagem e shipur regioes de interesse. Depois medidas
                            das regioes de interesse, e recebemos um vetor de propriedades. Depois escolha de 
                            diferentes metodos de machine learning, com entrada de dados medicos inseridos 
                            manualmente pelo usuario. E tambem o parametro mais importante deve ser a sugestao
                            do medico por experiencia propria de quantos % o osso eh doente.
                            <br><br><br>
                            - ajeitar o luz e reenviar
                            - ver os mismachim do projeto
                            - ajeitar o tofes do projeto
                            - proxima vez falar sobre shipur ezorei inian, q parametros sao bons
                            - escrever drishot techniot pra GUI, desenhar como sera
                            - reuniao segunda q vem 27/02 marcar horario 
                        </h4>

                    </div>
{% endblock %}
