

{% extends "index.html" %}
{% block head %}


<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Osteoporosis Automatic Diagnosis</title>
<!-- JQUERY (load the JQUERY framework from a CDN) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- CSS/JS (load bootstrap framework from a CDN) -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body {
        padding-top: 1%;
    }

    .jumbotron {
        overflow: auto;
    }

    .stud-info {
        width: auto;
        float: left;
        text-align: center;
        align-content: center;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
    }
</style>

{% endblock %}